@import '~bootstrap/scss/bootstrap';


.sc-main-container {
    height: calc(100vh - 56px);
}

aside {
    ul {
        list-style: none;
    }

    a {
        color: white;
        text-decoration: none;
    }
}

table {


    .table-id {
        width: 5%;
    }

    .table-name,
    .table-client-name {
        width: 30%;
    }

    .table-type {
        width: 10%;
    }

    .table-actions {
        width: 30%;
    }
}
